@model SalesDataImporter.ViewModels.VendaViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dados de Vendas</h2>

@if (Model.DadosVenda.Count == 0)
{
    <h5>Sem dados de vendas!</h5>
    <h6>Utilize a @Html.ActionLink("importação", "Importacao", "Importacao") para inserir dados de vendas...</h6>
}
else
{
    <table class="table">

        <tr>
            <th>Comprador</th>
            <th>Descrição Produto</th>
            <th>Preço Unitário</th>
            <th>Quantidade</th>
            <th>Total</th>
            <th>Endereço</th>
            <th>Fornecedor</th>
        </tr>

        @foreach (var item in Model.DadosVenda)
        {
            <tr>
                <td>
                    @Model.Clientes.FirstOrDefault(c => c.Id == item.ClienteId).Nome
                </td>
                <td>
                    @Model.Produtos.FirstOrDefault(p => p.Id == item.ProdutoId).Descricao
                </td>
                <td>
                    @item.ValorUnitario.ToString("C")
                </td>
                <td>
                    @item.Quantidade
                </td>
                <td>
                    @item.Total.ToString("C")
                </td>
                <td>
                    @Model.Clientes.FirstOrDefault(c => c.Id == item.ClienteId).Endereco
                </td>
                <td>
                    @Model.Fornecedores.FirstOrDefault(f => f.Id == item.FornecedorId).RazaoSocial
                </td>
            </tr>
        }
    </table>

    <table class="table">
        <tr>
            <th>Quantidade Total</th>
            <th>Valor Total</th>
        </tr>
        <tr>
            <td>
                @Model.DadosVenda.Sum(x => x.Quantidade)
            </td>
            <td>
                @Model.DadosVenda.Sum(x => x.Total).ToString("C")
            </td>
        </tr>
    </table>
}




